@CHARSET "UTF-8";

body {
	background-image: url("../resources/images/background2.jpg");
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 15px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: auto;
	margin-left: auto;
}

.ui-menu, .ui-menu .ui-menu-child {
	background: #f3f3f3 linear-gradient(#efefef, #dadada);
}

.main-header {	
  
    top: 0; 
    bottom:45px; 
    left: 0; 
    right:0;
    margin: auto;
}

.MenuBar {

	width: 99%;
	padding: 0.4em;
}

.ui-corner-all {
	border-radius: 6px;
}

.ui-helper-reset { .
	line-height: 2.4;
}

#action-box {
	background: #e6e6e6 none repeat scroll 0 0;
	border: 1px solid #a8a8a8;
	color: #4f4f4f;
	margin: 150px auto;
	padding: 30px;
	width: 280px;
	border-radius: 4px;
}

table {
	border-spacing: 0px;
	border-collapse: separate;
	
}

td {
	padding: 5px;
	margin-right:200px;
}

.loginPanelBtn {
	width: 60px;
	height: 35px;
	color: #4f4f4f;
	border-radius: 4px;
	float: right;
}
.backBtn{
	width: 60px;
	height: 35px;
	color: #4f4f4f;
	border-radius: 4px;
	float:left;
	margin-left:20px;
	
}

.ui-panel {
	margin-right: 400px;
	margin-left: 10px;
	height:250px;
}

.ui-wizard-step-titles {
	margin-left: 30%;
}

.ui-button {
	margin-right: 0px;
	width: auto;
	margin-left: 20px;
	height: 47px;
	width: 129px;
	margin-top: 0px;
	font-size: 1.03em;
}

.ui-state-highlight {
	background: #E0D0F2;
}

.text-input {
	font-weight: normal;
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 2px 2px #8f8f8f inset;
	color: #313131;
	border: 1px solid #a8a8a8;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	border-radius: 6px;
	margin: 0;
	outline: medium none;
	padding: 4px;
}

.ui-button-icon-only {
    width: 3em;
}
.GoBackButton {
	margin-top: 0px;
}

.ui-wizard-navbar {
	
}

.Button1 {
	background: pink;
}

.ui-wizard-nav-next {
	margin-right: 25%;
}

.ui-wizard-nav-back {
	margin-left: 30%;
}

.ui-state-default .ui-widget-content .ui-state-default .ui-widget-header .ui-state-default
	{
	background: #E0D0F2;
}

.ui-icon {
	height: 15px;
	width: 18px;
}

.ui-menuitem-text {
	padding: 0.3em 0.6em;
}

.ui-icon-triangle-1-s {
	height: 15px;
}

.ui-datatable .ui-state-default {
	background: #F2E1F2 none repeat scroll 0 0;
}

.orderButton {
	float: right;
	position: relative;
	right: 1%;
	height: 60px;
	width: 200px;
}

.menuItem {
	margin-right: 15px;
	line-height: 2.8;
}

.goBackButton {
	margin-left: 40px;
}

.ui-panel {
	margin-left: 30%;
}
.ui-panel .ui-panel-content{
	padding: 1.8em 1em;
}

.ui-icon .ui-confirm-dialog-severity .ui-icon-alert {
	width: 18px;
}
.total{
	color:#b31aff;
	font-size:20px;
	margin-left:2%;
	font-weight: bold;
}
.price{
	color:#b31aff;
	font-size:20px;
	font-weight: bold;
	
}

.trash{
	
	
}