@CHARSET "UTF-8";

body
{
background-image:url("../resources/images/background.jpg");
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:15px;
margin-top: 0%;
margin-bottom: 50%;
margin-right: auto;
margin-left: auto;
}

.ui-menu, .ui-menu .ui-menu-child {
    background: #f3f3f3 linear-gradient(#efefef,#dadada);
}

.MenuBar{
    width: 99%;
    position:fixed;
    padding: 0.4em;
    
}
.ui-corner-all {
    border-radius: 6px;
}

.ui-helper-reset {
    line-height: 1.8;
    
}

#action-box {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid #a8a8a8;
    color: #4f4f4f;
    margin: 150px auto;
    padding: 30px;
    width: 280px;
    border-radius: 4px;
  }
table { 
    border-spacing: 4px;
    border-collapse: separate;
}
td { 
    padding: 5px;
}

.loginPanelBtn{
	 width:60px;
	 height:30px;
	 color:#4f4f4f;
	 font-weight: bold;
	 
}
.ui-panel{
	margin-right: 400px;
	margin-left: 10px;
      
}
.ui-wizard-step-titles{
	margin-left: 10px;
	
}
.ui-button{
	margin-right: 400px;
	margin-left: 20px;
	height: 50px;
	width: 120px;
	margin-top:0px;
	
}

.ui-state-highlight {
    background: #E0D0F2;
   
}

.text-input{
	 font-weight: normal;
	 background: #ffffff none repeat scroll 0 0;
   	 box-shadow: 0 2px 2px #8f8f8f inset;
   	 color: #313131;
   	 border: 1px solid #a8a8a8;
   	 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
     border-radius: 6px;
     margin: 0;
     outline: medium none;
     padding: 4px;
}

.GoBackButton
{
	margin-top:0px;
	
}

.ui-wizard-navbar{
	
}
.Button1{
	background:pink;
	
	
}

.ui-widget-header {
    background: #E0D0F2;

}
.ui-state-default .ui-widget-content .ui-state-default .ui-widget-header .ui-state-default {
    background:#E0D0F2;








